//* background-image

@mixin background-img($url, $repeat, $size...) {
  background-image: url($url);
  -webkit-background-size: $size;
  background-size: $size;
  background-repeat: $repeat;
}

@mixin img-responsive($display: block) {
  display: $display;
  max-width: 100%; // Part 1: Set a maximum relative to the parent
  height: auto; // Part 2: Scale the height according to the width, otherwise you get stretching
}

// Retina image
//
// Short retina mixin for setting background-image and -size. Note that the
// spelling of `min--moz-device-pixel-ratio` is intentional.
@mixin img-retina($file-1x, $file-2x, $bg-size...) {
  background-image: url($file-1x);

  @media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (min--moz-device-pixel-ratio: 2),
  only screen and (-o-min-device-pixel-ratio: 2/1),
  only screen and (min-device-pixel-ratio: 2),
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx) {
    background-image: url($file-2x);
    background-size:$bg-size;
  }
}

// center background-image retinal
@mixin bg-img-center($file, $width: 100%, $height: 100%, $bg-size: cover) {
  @include background-img($file, no-repeat, $bg-size);
  background-position: center 50%;
  @include img-responsive(block);
  width: $width;
  height: $height;
  vertical-align: middle;
}


// central background-image retinal
@mixin img-central($file-1x, $file-2x, $width-1x: 100%, $height-1x: 100%, $bg-size: cover) {
  @include img-retina($file-1x, $file-2x, $bg-size...);
  background-repeat: no-repeat;
  background-position: center 50%;
  @include img-responsive(inline-block);
  width: $width-1x;
  height: $height-1x;
  vertical-align: middle;
}