@import "../media/includeMedia";

@function strip-units($number){
  @return $number / ($number * 0 + 1);
}

@function get-two-number-scale($num1, $num2) {
  @return strip-units( $num1 / $num2 );
}

@mixin size($width, $height) {
  width: $width;
  height: $height;
}

@mixin square($size) {
  @include size($size, $size);
}

@mixin percentSize($el-width, $el-height, $parent-width, $parent-height) {
  width: percentage($el-width / $parent-width);
  height: percentage($el-height / $parent-height);
  max-width: $el-width;
  min-height: $el-height;
}

@mixin between-width($min:100%, $max:100%) {
  min-width: $min;
  max-width: $max;
}

@mixin between-height($min:100%, $max:100%) {
  min-height: $min;
  max-height: $max;
}



$breakpoints: (
        'phone': 320px,
        'iphone6': 375px,
        'iphone6+': 414px,
        'ipad': 768px,
        'desktop': 1024px,
        'lg-desktop': 1200px
);

@mixin sizeHandle($attr, $value) {
  #{$attr}: $value;
  @include media('>=phone', '<iphone6') { #{$attr}: $value * 0.42; }
  @include media('>=iphone6', '<iphone6+') { #{$attr}: $value * 0.5; }
  @include media('>=iphone6+', '<ipad') { #{$attr}: $value * 0.552; }
  @include media('>=ipad', '<desktop') { #{$attr}: $value; }
  @include media('>=desktop', '<lg-desktop') { #{$attr}: $value * 1.42; }
  @include media('>=lg-desktop') { #{$attr}: $value * 1.552; }
}


@mixin font-size($value) { @include sizeHandle('font-size', $value); }
@mixin width($value) { @include sizeHandle('width', $value); }
@mixin height($value) { @include sizeHandle('height', $value); }

@mixin margin-top($value) { @include sizeHandle('margin-top', $value); }
@mixin margin-right($value) { @include sizeHandle('margin-right', $value); }
@mixin margin-bottom($value) { @include sizeHandle('margin-bottom', $value); }
@mixin margin-left($value) { @include sizeHandle('margin-left', $value); }

@mixin padding-top($value) { @include sizeHandle('padding-top', $value); }
@mixin padding-right($value) { @include sizeHandle('padding-right', $value); }
@mixin padding-bottom($value) { @include sizeHandle('padding-bottom', $value); }
@mixin padding-left($value) { @include sizeHandle('padding-left', $value); }

@mixin border-top-width($value) { @include sizeHandle('border-top-width', $value); }
@mixin border-right-width($value) { @include sizeHandle('border-right-width', $value); }
@mixin border-bottom-width($value) { @include sizeHandle('border-bottom-width', $value); }
@mixin border-left-width($value) { @include sizeHandle('border-left-width', $value); }

@mixin top($value) { @include sizeHandle('top', $value); }
@mixin right($value) { @include sizeHandle('right', $value); }
@mixin bottom($value) { @include sizeHandle('bottom', $value); }
@mixin left($value) { @include sizeHandle('left', $value); }