body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.flex {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
}

.flex-row {
  -webkit-flex-direction: row;
  flex-direction: row;
}

.flex-column {
  -webkit-flex-direction: column;
  flex-direction: column;
}

.justify-between {
  justify-content: space-between;
  -webkit-justify-content: space-between;
}